@import url(https://fonts.googleapis.com/css?family=Finger+Paint|Peralta|Spicy+Rice|Palanquin+Dark|Open+Sans);

body {
  background-color: #F6F6F6;
  margin: 0;
}

header {
  text-align: center;
  font-family: "Finger Paint";
  padding: 25px;
  background-color: #6B3E12;
  box-shadow: 0px 0px 10px black;
}

header h1 {
  line-height: 1.0;
  font-size: 5rem;
  color: white;
}

main, .battle-speech {
  text-align: center;
  color: white;
}

main {
  margin-bottom: 80px;
}

.battle-speech {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: "Open Sans"
}

.images-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.image-block {
  display: inline-block;
}

.image-block .default {
  display: none;
}

.main-image {
  width: 90vw;
  max-width: 615px;
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
}

map area {
  outline: none;
}

.poops {
  position: relative;
  overflow: hidden;
}

img.poop {
  position: absolute;
  pointer-events: none;
}

@media (min-width: 768px) {
  .images-container {
    display: initial;
  }

  header {
    padding: 65px 0;
  }

  header h1 {
    font-size: 7.5rem;
  }

  .battle-speech {
    max-width: 960px;
    font-size: 2.0rem;
  }

  .image-block .default {
    display: block;
  }
  .image-block .small {
    display: none;
  }
}

#clintonWipe {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color:#ff0000;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
#clintonWipe:hover {
  background-color:#d60000;
}
#clintonWipe:active {
  position:relative;
  top:1px;
}


#trumpWipe {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color:#1e00ff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
#trumpWipe:hover {
  background-color:#020c78;
}
#trumpWipe:active {
  position:relative;
  top:1px;
}

